.top {
    margin-top: 200px;
    margin-bottom: 50px;
    font-size: 90px;
    font-family:'Kanit', sans-serif;
    color: #4c5358;
}
.top2 {
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
    color: #4c5358;
}